<div class="container">
    <br>
    <mat-card>
        <mat-card-content>
            <h1>{{'User'}}</h1>
            <div class="formLayout">
                <div class="form-group">
                    <mat-icon class="material-icon">mail</mat-icon>
                    <label for="email">E-mail</label>
                    <input #email matInput type="email" class="form-control" value="{{user.email}}" disabled>
                </div>

                <div class="form-group">
                    <mat-icon class="material-icon">person_outline</mat-icon>
                    <label for="surname">Name</label>
                    <input type="text" id="surname" class="form-control" value="{{user.surname}}" disabled>
                </div>

                <div class="form-group">
                    <mat-icon class="material-icon">person_outline</mat-icon>
                    <label for="firstName">First name</label>
                    <input type="text" id="firstName" class="form-control" value="{{user.firstName}}" disabled>
                </div>

                <div *ngIf="user.activated == false" class="form-group">
                    <mat-icon class="material-icon">check_circle_outline</mat-icon>
                    <label for="activated">{{user.getActivatedString()}}</label>
                </div>

                <br>
            </div>
            <br>
            <mat-form-field class="example-full-width">
                <mat-select placeholder="Role" required [(value)]="user.role">
                    <mat-option *ngFor="let role of roles" [value]="role">
                        {{ getRoleString(role) }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button *ngIf="originalUser.role != user.role" mat-button color="accent" (click)="onApplyRoleButtonClick()">Apply</button>
        </mat-card-content>
    </mat-card>

</div>