<div class="container">
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{song.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card *ngFor="let songVerse of song.songVerseDTOS">
        <mat-card-content>
          <div *ngFor="let line of songVerse.lines">
            <h4>{{line}}</h4>
          </div>
          <br>
        </mat-card-content>
      </mat-card>
      <br>
    </mat-card-content>
  </mat-card>

  <br>
  <div>
    <button mat-button (click)="openShareDialog()">
      <mat-icon>share</mat-icon>
      SHARE
    </button>
  </div>

  <div *ngIf="auth.isLoggedIn && auth.user.role === 'ROLE_ADMIN'">
    <br>
    <div *ngIf="song.originalId!==undefined">
      <h4>Uploaded modified song:</h4>
      <div *ngIf="secondSong!==null">
        <a href="/#/song/{{song.originalId}}" target="_blank">{{'Open original song'}}</a>
        <app-compare-songs [song]="song" [secondSong]="secondSong"></app-compare-songs>
        <button mat-button (click)="acceptChanges()">
          Put changes into similar!
        </button>
      </div>
    </div>
    <div *ngIf="song.uploaded && song.deleted">
      <button mat-button (click)="publishSong()">
        Publish
      </button>
      <button mat-button (click)="eraseSong()">
        Erase
      </button>
    </div>
    <div *ngIf="!song.uploaded">
      <button *ngIf="song.deleted" mat-button (click)="publishSong()">
        Remove deleted
      </button>
    </div>
    <button *ngIf="!song.deleted" mat-button (click)="deleteSong()">
      Delete
    </button>
    <br>
    <button mat-button (click)="editSong()">
      Edit
    </button>
    <app-edit-song [song]="song" *ngIf="editing"></app-edit-song>
    <div *ngIf="song.originalId===undefined">
      <button mat-button (click)="showSimilar()">
        Similarities
      </button>
      <div *ngIf="showSimilarities">
        <div *ngIf="similar.length>0">
          <mat-nav-list>
            <mat-list-item *ngFor="let song of similar" (click)="selectSecondSong(song)">
              <a>{{ song.title + " "}}</a>
              <a href="/#/song/{{song.uuid}}" target="_blank">{{'. Open'}}</a>
            </mat-list-item>
          </mat-nav-list>
          <div *ngIf="secondSong!==null">
            <app-compare-songs [song]="song" [secondSong]="secondSong"></app-compare-songs>
            <button mat-button (click)="acceptChanges()">
              Put changes into similar!
            </button>
          </div>
        </div>
        <div *ngIf="similar.length<1&&receivedSimilar">
          <h3>No similar</h3>
        </div>
        <div *ngIf="similar.length<1&&!receivedSimilar">
          <h3>Getting similar</h3>
        </div>
      </div>
    </div>
    <div>
      <button mat-button (click)="markForVersionGroup()">
        {{markText}}
      </button>
      <button *ngIf="markedVersionGroup!==null" mat-button (click)="mergeVersionGroup()">
        Merge version group
      </button>
    </div>
  </div>
  <div *ngIf="songsByVersionGroup.length>0">
    <br>
    <h4>Versions:</h4>
    <mat-nav-list>
      <mat-list-item *ngFor="let song of songsByVersionGroup" (click)="openInNewTab(song)">
        {{song.title}}
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
