<div class="container">
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{song.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card *ngFor="let songVerse of song.songVerseDTOS">
        <mat-card-content>
          <div *ngFor="let line of songVerse.lines">
            <h4>{{line}}</h4>
          </div>
          <br>
        </mat-card-content>
      </mat-card>
      <br>
    </mat-card-content>
  </mat-card>


  <div *ngIf="auth.isLoggedIn && auth.user.role === 'ROLE_ADMIN'">
    <br>
    <div *ngIf="song.uploaded && song.deleted">
      <button mat-button (click)="publishSong()">
        Publish
      </button>
      <button mat-button (click)="eraseSong()">
        Erase
      </button>
    </div>
    <div *ngIf="!song.uploaded">
      <button *ngIf="!song.deleted" mat-button (click)="deleteSong()">
        Delete
      </button>
      <button *ngIf="song.deleted" mat-button (click)="publishSong()">
        Remove deleted
      </button>
    </div>
    <br>
    <button mat-button (click)="editSong()">
      Edit
    </button>
    <app-edit-song [song]="song" *ngIf="editing"></app-edit-song>

    <button mat-button (click)="showSimilar()">
      Similarities
    </button>
    <div *ngIf="showSimilarities">
      <div *ngIf="similar.length>0">
        <mat-nav-list>
          <mat-list-item *ngFor="let song of similar" (click)="selectSecondSong(song)">
            <a>{{ song.title + " "}}</a>
            <a href="/#/song/{{song.uuid}}" target="_blank">{{'. Open'}}</a>
          </mat-list-item>
        </mat-nav-list>
        <app-compare-songs *ngIf="secondSong!==null" [song]="song" [secondSong]="secondSong"></app-compare-songs>
      </div>
      <div *ngIf="similar.length<1&&receivedSimilar">
        <h3>No similar</h3>
      </div>
      <div *ngIf="similar.length<1&&!receivedSimilar">
        <h3>Getting similar</h3>
      </div>
    </div>
  </div>
</div>
