<div class="container">
  <br>
  <mat-card>
    <mat-card-content>

      <h1>New song</h1>

      <mat-radio-group class="example-radio-group" [(ngModel)]="editorType" (change)="editorTypeChange()">
        <mat-radio-button class="example-radio-button" [value]="'verse'">Verse editor</mat-radio-button>
        <mat-radio-button class="example-radio-button" [value]="'raw'">Raw editor</mat-radio-button>
      </mat-radio-group>
      <form (ngSubmit)="onSubmit()" [formGroup]="form" class="example-form">
        <div class="formLayout">

          <div class="example-container">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Language" required [(value)]="selectedLanguage">
                <mat-option *ngFor="let language of languages" [value]="language">
                  {{ printLanguage(language) }}
                </mat-option>
                <mat-option (click)="openNewLanguageDialog()">
                  {{'Add new language'}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="text" id="title" formControlName="title" required matInput placeholder="Title">
            </mat-form-field>
            <mat-error *ngIf="formErrors.title">
              <mat-icon class="material-icon">error</mat-icon>
              {{formErrors.title}}
            </mat-error>

            <div *ngIf="editorType==='verse'">
              <h4>Verses:</h4>
              <!--suppress JSUnusedLocalSymbols -->
              <div *ngFor="let verse of verses; let i = index;">
                <button type="button" mat-icon-button (click)="setChorus(i)">
                  <mat-icon [style.color]="isChorus(i)">group</mat-icon>
                  Chorus
                </button>
                <mat-form-field class="example-full-width">
                  <textarea matInput matTextareaAutosize placeholder="Verse {{i+1}}." [matAutosizeMinRows]="2"
                            [matAutosizeMaxRows]="15"
                            formControlName="verse{{i}}"
                            maxlength="1000"></textarea>
                </mat-form-field>
              </div>
              <br>
              <button type="button" mat-icon-button (click)="addNewVerse()" matTooltip="Add a new verse">
                <mat-icon>add</mat-icon>
              </button>
              <button type="button" mat-icon-button (click)="refactor()">
                <mat-icon svgIcon="magic_tool">magic_tool</mat-icon>
              </button>
            </div>
            <div *ngIf="editorType==='raw'">
              <mat-form-field class="example-full-width">
                <textarea matInput matTextareaAutosize [matAutosizeMinRows]="7" placeholder="Text"
                          formControlName="songText"></textarea>
              </mat-form-field>
              <h5>You need to switch back to verse editor in order to submit</h5>
            </div>
          </div>
          <br>
          <br>
          <button *ngIf="!showSimilarities" type="submit" class="btn btn-success" [disabled]="needToDisable()">Submit
          </button>
          <button *ngIf="showSimilarities&&similar.length>0" type="submit" class="btn btn-success"
                  [disabled]="needToDisable()">
            Check
            similarities
          </button>
        </div>
        <br>
      </form>
      <div *ngIf="showSimilarities">
        <div *ngIf="similar.length>0">
          <mat-nav-list>
            <mat-list-item *ngFor="let song of similar" (click)="selectSecondSong(song)">
              {{ song.title + " "}}
              <a href="/#/song/{{song.uuid}}" target="_blank">{{'. Open'}}</a>
            </mat-list-item>
          </mat-nav-list>
          <div *ngIf="secondSong!==null">
            <app-compare-songs [song]="song" [secondSong]="secondSong"></app-compare-songs>
          </div>
          <button type="submit" class="btn btn-success" (click)="insertNewSong()">
            Submit anyway
          </button>
        </div>
        <div *ngIf="similar.length==0">
          <h3>Checking for similar</h3>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
</div>
