<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bence.songbook">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SongBookTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SongBookTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme"/>
        <activity android:name=".ui.activity.ExplanationActivity">
        </activity>
        <activity
            android:name=".ui.activity.LoadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activity.LanguagesActivity">
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bence.songbook.ui.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.activity.SongActivity"
            android:theme="@style/SongBookTheme">
        </activity>
    </application>

</manifest>